<html>
<head>
<title>resent_list_item.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
resent_list_item.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.cardview.widget.CardView </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;@dimen/_100sdp&quot;</span>
    <span class="s1">app:cardElevation</span><span class="s2">=&quot;0dp&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;@dimen/_120sdp&quot;</span>
    <span class="s1">android:gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
    <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;@dimen/_10sdp&quot;</span>
    <span class="s1">android:padding</span><span class="s2">=&quot;@dimen/_10sdp&quot;</span>
    <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;#59000000&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>


        <span class="s0">&lt;androidx.appcompat.widget.AppCompatImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/ivMusic&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:alpha</span><span class="s2">=&quot;0.8&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:scaleType</span><span class="s2">=&quot;fitXY&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
            <span class="s1">android:lines</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:maxLines</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:paddingTop</span><span class="s2">=&quot;@dimen/_8sdp&quot;</span>
            <span class="s1">android:paddingBottom</span><span class="s2">=&quot;@dimen/_8sdp&quot;</span>
            <span class="s1">android:paddingEnd</span><span class="s2">=&quot;@dimen/_5sdp&quot;</span>
            <span class="s1">android:paddingStart</span><span class="s2">=&quot;@dimen/_5sdp&quot;</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvName&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/nexalight&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;For Beginner&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>
<span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span></pre>
</body>
</html>